## Institut des Algorithmes du Sénégal

## TP1

Dans ce premier TP, nous allons mettre en application les connaissaces acquises lors de la première session.

Concrétement, vous serez appeller à executer les taches suivantes :

## 1. Importer les libraries nécéssaires

## 2. Charger les données

## 3. Afficher les 10 premières lignes des données

## 5. Afficher les colonnes du dataframe

## 6. Afficher toutes les colonnes ayant des valeurs manquantes

## 7. Dans ce cas d'étude, la variables cible est "survived". Visualisez la matrice de corrélation permettant d'étudier la relation entre cette variable cible et toutes les autres variuables

In [3]:
!pip install pandas # installation du library pandas nécessaire

Collecting pandas
  Downloading pandas-1.4.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
     |████████████████████████████████| 11.7 MB 34 kB/s  eta 0:00:01     |██████████████████████████████▉ | 11.2 MB 1.3 MB/s eta 0:00:01
Collecting numpy>=1.18.5
  Downloading numpy-1.22.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.8 MB)
     |████████████████████████████████| 16.8 MB 198 kB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
     |████████████████████████████████| 503 kB 523 kB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.1 in /home/ndaosif/anaconda3/envs/jupyter_R/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/ndaosif/anaconda3/envs/jupyter_R/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.22.1 pandas-1.4.0 pytz-2021.3

In [4]:
import pandas as pd # importation du librarie pandas
import numpy as np # importation de numpy pour la matrice dans la question 7

In [6]:
data = pd.read_csv('../dataset/titanic.csv') # chargement des données de titanic

In [7]:
data.head(10) # affichage des 10 premiere lignes du dataset titanic

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [9]:
data.columns # afficahage des colonnes du dataset

Index(['survived', 'pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked'],
      dtype='object')

In [10]:
data.columns[data.isnull().any()] # affichage des colonnes qui présentent de valeurs nulls

Index(['age', 'cabin', 'embarked'], dtype='object')